beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2017.7.27.1
chardet==3.0.4
dj-database-url==0.4.1
dj-static==0.0.6
Django==1.11.1
django-storages==1.6.5
gunicorn==19.6.0
idna==2.6
insultgenerator==0.3
konlpy==0.4.4
loremipsum==1.0.5
MechanicalSoup==0.8.0
psycopg2==2.6.2
pytz==2017.2
requests==2.18.4
selenium==3.6.0
six==1.11.0
static3==0.7.0
urllib3==1.22
White-Noise==0.1.0
whitenoise==3.2
